.spot-list{
    max-width: 1200px;
    margin-top: 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    /* background-color: aqua; */
}

.spot-list > a{
    text-decoration: none;
    color: black;
}
